@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
    }
    
    .header {
        height: 200px;
        width: 200px;
    }

    .header-box{
        width: 60px;
        position: relative;
        left: 70px;
        right: 70px;
    }

    .header-inner1 {
        border: solid 10px white;
        float: none;
    }
    
    .header-inner2 {
        border-width: 0px 10px 0px 10px;
        float: none;
    }
    
    .header-inner3 {
        border: solid 10px white;
        float: none;
    }    

    .header-box {
        width: 60px;
        position: relative;
        top: 20px;
        right: 70px;     
    }
    
    .left{ 
        height: 200px;
        width: 200px;
        float: none;
    }

    .right {
        height: 200px;
        width: 200px;
        padding: 10px,30px,10px,30px

    }

    .right-inner1{
        margin: 10px 30px 0px 30px;
    }

    .right-inner2{
        margin: 10px 30px 0px 30px;
    }
    
    .right-inner3{
        margin: 10px 30px 10px 30px;
    }

    .footer {
        width: 200px;
    }

}

