@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }
    
    .header {
        width: 300px;
    }
    
    .left {
        width: 100px;
    }
    
    .main-right {
        width: 75px;
    }
    
    .main-left-top {
        width: 125px;
    }
    
    .main-left-bottom {
        width: 125px;
    }

    .bottom {
        width: 200px;  
    }

    .footer {
        width: 300px;
    }

}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }
    
    .header {
        width: 150px;
    }
    
    
    .left {
        width: 150px;
        height: 100px;
        float: none;
    }
    
    .main-right {
        width: 150px;
        height: 100px;
        float: none;
    }
    
    .main-left-top {
        width: 150px;
        float: none;
    }
    
    .main-left-bottom {
        width: 150px;
        float: none;
    }

    .bottom {
        width: 150px; 
        float: none;
    }

    .footer {
        width: 150px;
    }

}